{% extends 'mysite/header.html' %}

{% block title %}java備忘録{%endblock%}

{% block content %}
    <div class="row col-12 p-2 mt-2 border rounded-lg" id="content">
        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header">
                    <a href="/techskill/java/base">基本文法</a>
                </h5>
                <div class="card-body">
                    <ul>
                        <li>変数宣言</li>
                        <li>演算子</li>
                        <li>if</li>
                        <li>switch</li>
                        <li>while</li>
                        <li>for</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header">
                    <a href="/techskill/java/const">基本構造</a>
                </h5>
                <div class="card-body">
                    <ul>
                        <li>クラス</li>
                        <li>メソッド</li>
                        <li>継承</li>
                        <li>コンストラクタ</li>
                        <li>インターフェース</li>
                        <li>抽象クラス</li>
                        <li>enum型</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header">
                    <a href="/techskill/java/access">アクセス修飾子とstatic</a>
                </h5>
                <div class="card-body">
                    <ul>
                        <li>アクセス修飾子</li>
                        <li>データ隠蔽</li>
                        <li>カプセル化</li>
                        <li>static</li>
                        <li>イニシャライザ</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header">
                    <a href="/techskill/java/generic">総称型とワイルドカード</a>
                </h5>
                <div class="card-body">
                    <ul>
                        <li>総称型</li>
                        <li>ワイルドカード</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header">
                    <a href="/techskill/java/collection">コレクションと拡張for文</a>
                </h5>
                <div class="card-body">
                    <ul>
                        <li>List</li>
                        <li>Set</li>
                        <li>Map</li>
                        <li>forEach</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header">
                    <a href="/techskill/java/exception">例外処理</a>
                </h5>
                <div class="card-body">
                    <ul>
                        <li>try catch finally</li>
                        <li>throw throws</li>
                        <li>独自例外</li>
                    </ul>
                </div>
            </div>
    </div>
{%endblock%}