{% extends 'mysite/header.html' %}

{% block title %}人間力{%endblock%}

{% block content %}
    <div class="col-12 p-2 mt-2 border rounded-lg" id="content">
        <div class="card">
            <div class="card-header" role="tab" id="goodtalk">
                <h5 class="mb-0">
                    <a href="#goodtalk1" class="collapsed text-body" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="goodtalk1">
                        大事にしたい仕事の指標8つ
                    </a>
                </h5>
            </div><!-- /.card-header -->
            <div class="collapse" role="tabpanel" id="goodtalk1" aria-labelledby="goodtalk" aria-expanded="false">
                <h5>
                    これは私がこの世で一番尊敬している人の新人に向けた言葉です。
                </h5>
                <br>
                <ol>
                    <li>
                        <span class="font-weight-bold">人生に目標を持つ。</span><br>
                        人生に目標を持てば課題が現れる。課題を乗り越えてひとつひとつ成長していこう。
                    </li>
                <br>
                    <li>
                        <span class="font-weight-bold">仕事の失敗は大いに結構。</span><br>
                        仕事の大半はやり直しがきく。失敗から学ぶことはとても多く、将来にも有効。<br>
                        ただし、同じ失敗を繰り返すのは、あまりにも思慮が足りないということ。失敗から学習しよう。
                    </li>
                <br>
                    <li>
                        <span class="font-weight-bold">不正やごまかしは絶対にいけない。</span><br>
                        不正は仕事上のミスとは違い、野球でいうところの One Strike Out であるだと思ったほうがいい。
                    </li>
                <br>
                    <li>
                        <span class="font-weight-bold">本を読もう。</span><br>
                        学習によって磨かれた人間的魅力は、人を呼び、幸せを生み、ひいては人生の成功を生む。<br>
                        人間は年を追うごとに知性が顔に現れる。40歳になったらどんな顔をしていたいですか。
                    </li>
                <br>
                    <li>
                        <span class="font-weight-bold">挨拶をしよう。</span><br>
                        挨拶は、人と人との意思疎通の始まり。ビジネスは人間同士の信頼関係の上に成り立っている。
                    </li>
                <br>
                    <li>
                        <span class="font-weight-bold">仕事と休暇のバランスをとる。</span><br>
                        「ワークライフバランス」とは仕事と生活のウェイトが半々のことではない。<br>
                        心から仕事を楽しめる比重であることが大事である。
                    </li>
                <br>
                    <li>
                        <span class="font-weight-bold">誠実であれ！素直であれ！スマートであれ！</span><br>
                        誠実は、社会人としての最大の価値。素直な人は自分の非を認めて学ぶという姿勢が身についている人。<br>
                        こういう人は伸びる。スマートとは、颯爽と・賢く・気の利いた・粋なこと。
                    </li>
                <br>
                    <li>
                        <span class="font-weight-bold">デキる人の慣行やロジックを真似よう。</span><br>
                        人間の能力に大きな差はない。しかし、できる人は少しの工夫や努力を継続している。<br>
                        それを見つけて、最初は真似から始め、将来は自らがベストプラクティス（最善慣行）を見つけられるようになればいい。
                    </li>
                </ol>
            </div><!-- /.collapse -->
        </div><!-- /.card -->
    </div>
</div>
{%endblock%}