<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta  name="viewport" content="width=device-width">
    <title>{% block title %}My amazing site{% endblock %}</title>
    {% block header %}{% endblock %}
    <!-- BootstrapのCSS読み込み -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- jQuery読み込み -->
    <script src="{% static 'jquery-3.4.1.js' %}"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link href="{% static 'style.css' %}" rel="stylesheet">
    <!-- FontAwesomeの読み込み-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">私のシステム開発のミカタ</a>
        <button type="button"
                class="navbar-toggler"
                data-toggle="collapse"
                data-target="#Navber"
                aria-controls="Navber"
                aria-expanded="false"
                aria-label="ナビゲーションの切り替え">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
                    id="Navber">

            <ul class="navbar-nav mr-auto">
                <li class="nav-link dropdown">
                    <a href="#" class="nav-link dropdown-toggle"
                                id="humanDropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                        ヒューマンスキル
                    </a>
                    <div class="dropdown-menu" aria-labelledby="humanDropdown">
                        <a class="dropdown-item" href="/humanskill/idea">人間力</a>
                        <a class="dropdown-item" href="#">システム設計</a>
                    </div>
                </li>

                <li class="nav-link dropdown">
                    <a href="#" class="nav-link dropdown-toggle"
                                id="TechDropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                        プログラミング
                    </a>
                    <div class="dropdown-menu" aria-labelledby="TechDropdown">
                        <a class="dropdown-item" href="#">java</a>
                        <a class="dropdown-item" href="#">python</a>
                    </div>
                </li>
                <li class="nav-link dropdown">
                    <a href="#" class="nav-link dropdown-toggle"
                                id="memoDropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                        便利メモ
                    </a>
                    <div class="dropdown-menu" aria-labelledby="TechDropdown">
                        <a class="dropdown-item" href="/memo/git">git</a>
                        <a class="dropdown-item" href="/memo/excel">Excel</a>
                    </div>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input type="search" class="form-control mr-sm-2" placeholder="検索..." aria-label="検索...">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button>
            </form>
        </div>
    </nav>
</header>
{% block content %}
{% endblock %}
</body>
</html>