{% extends 'mysite/header.html' %}

{% block title %}ホーム{%endblock%}

{% block content %}
{% load static %}
<div class="row no-gutters">
    <img src="{% static 'img/justdoit.jpg' %}" class="img-fluid" alt="...">
    <div class="col-12 col-md-3 p-2">
        <div class="card">
            <div class="card-header bg-info font-weight-bold text-white">最近の投稿</div>
                <ul class="list-group list-group-flush">
                    {% if article_qs %}
                        {% for a in article_qs %}
                            <li class="list-group-item">
                                <a href="{{ a.url }}" >{{ a.title }}<br></a>
                                <span class="text-muted">投稿日時： {{ a.updateTime }}</span>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">
                            記事はありません。
                        </li>
                    {% endif %}
                </ul>
        </div>
    </div>
    <div class="col-12 col-md-9 p-2">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th colspan="2" class="text-center">
                        コンテンツ紹介
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="/humanskill/idea">人間力</a>
                    </td>
                    <td>
                        個人的に人生で大事にしたいことをまとめています。
                    </td>
                <tr>
                    <td>
                        <a href="/techskill/java">java</a>
                    </td>
                    <td>
                        javaについてまとめています。
                    </td>
                </tr>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{%endblock%}